<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // Set tax receipt taxes values
    TaxReceipt.taxes.house.values        = [];
    TaxReceipt.taxes.house.callback      = function(selector, values) {
      return $('#select-'+selector).val()*0.0067;
    };

    TaxReceipt.taxes.vehicle.values      = [0, 8.18, 14, 28.48, 56.95, 113.89, 23.35, 63.05, 133.09, 168.47, 215.04];
    TaxReceipt.taxes.vehicleExtra.values = [0, 8.18, 14, 28.48, 56.95, 113.89, 23.35, 63.05, 133.09, 168.47, 215.04];
    TaxReceipt.taxes.vehicle.callback      =
    TaxReceipt.taxes.vehicleExtra.callback = function(selector, values) {
      var value = values[$('#select-'+selector).val()];
      var bonus = [0, 1, .75][$('#select-'+selector+'-bonus').val()];
      return value * (1-bonus);
    }
    
    delete TaxReceipt.taxes.garbage;
    delete TaxReceipt.taxes.parking;

    // Add extra tax
    // We can add new taxed to TaxReceipt.taxes object
    // defining its selector, values array & callback function
    TaxReceipt.taxes.payment = {
      selector: 'payment-bonus',
      values:   [0, -0.03],
      callback: function(selector, values) {
        return TaxReceipt.totalTaxPaid * values[$('#select-'+selector).val()];
      }
    }

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };
    
    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

  });
</script>